datasets/*
logs/RSVQA-HR/*
logs/RSVQA-LR/*
logs/RSVQAxBEN/*
clip-rsvqa/__pycache__
preprocessing/__pycache__
wandb/*
clip-rsvqa/Models/__pycache__
saved-models/RSVQA-HR/*
saved-models/RSVQA-LR/*
saved-models/RSVQAxBEN/*
saved-models/NWPU-Captions/*
saved-models/clip-rs/*
saved-models/NWPU-Extended-Captions/*
saved-models/clip-rscid-v2-extended/*
